body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #000;
}

.container-fluid
{
  padding: 0px;
  margin: 0px;
  border: none;
}

.sectores
{
  background-color: #FFF;
  height: 50vh;
  margin: 0px;
  padding: 0px;
  border: none;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  overflow: hidden;
}

.sectores img{
   max-height: 50%;
   max-width: 50%;
   position: absolute;
   top: 0;
   bottom: 0;               
   left: 0;
   right: 0;             
   margin: auto;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.sectores img:hover{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  overflow: hidden;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  text-align: center;
  color: #000;
  font: 400 60px/1.8 "Lato", sans-serif;
}

.navbar-brand
{
  padding: 0px;
}

.navbar-brand>img
{
  height: 100%;
  padding: 15px;
  width: auto;
}

header.container
{
  padding: 0px;
}

/* EXAMPLE 8 - Center on mobile*/
@media only screen and (max-width : 768px){
  .example-8 .navbar-brand {
  padding: 0px; margin: 0px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
  .example-8 .navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px; 
  }
}

/* EXAMPLE 8 - Center Background */
.example-8 .navbar-brand {
  background: url(http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png) center / contain no-repeat;
  width: 500px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}
.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}
.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 } 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}