body, html {
  height: 100%;
  margin: 0;
  padding: 0px;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #000;
}

.container-fluid
{
  padding: 0px;
  margin: 0px;
  border: none;
}

hr
{
  border: 1px solid #cecece;
}

.navbar {
  margin-bottom: 0px;
}

.sectores
{
  background-color: #FFF;
  height: 50vh;
  margin: 0px;
  padding: 0px;
  border: none;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  overflow: hidden;
}

.sectores img{
   max-height: 50%;
   max-width: 50%;
   position: absolute;
   top: 0;
   bottom: 0;               
   left: 0;
   right: 0;             
   margin: auto;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.sectores img:hover{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  overflow: hidden;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  text-align: center;
  color: #000;
  font: 400 60px/1.8 "Lato", sans-serif;
}

.product-image
{
  max-width: 50%;
  max-height: 50%;
  position: relative;
  top: 0;
  bottom: 0;               
  left: 0;
  right: 0;             
  margin: auto;
}

.precio
{
  margin-top: 20px;
  margin-bottom: 20px;
  font: 800 24px/1.8 "Lato", sans-serif;
  line-height: 20px;
}

p.producto
{
  font-size: 16px;
}

.navbar-brand
{
  padding: 0px;
}

.navbar-brand>img
{
  height: 100%;
  padding: 15px;
  width: auto;
}

header.container
{
  padding: 0px;
}

.carousel-control
{
  color: #000;
}

.carousel-control>li
{
  color: #000 !important;
}
/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
}

footer {
    margin: 0px;
}

/* EXAMPLE 8 - Center on mobile*/
@media only screen and (max-width : 768px){
  .example-8 .navbar-brand {
  padding: 0px; margin: 0px;
  transform: translateX(-40%);
  left: 40%;
  position: absolute;
}
  .example-8 .navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px; 
  }

  .caption {
    font: 400 36px/1.8 "Lato", sans-serif;
  }
}

/* EXAMPLE 8 - Center Background */
.example-8 .navbar-brand {
  background: url(../images/teknoeste-logo.jpg) center / contain no-repeat;
  width: 500px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-right {
  margin-right: 25%;
}

.navbar-fixed-top
{
  background-color: #fff;
}

.navbar-header
{
  color: #000;
}

.navbar-toggle {
  border: 1px solid #000;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top: 0px; padding: 0px; }
.logofooter { margin-bottom:10px; margin-left: 20px; font-size:25px; color:#fff; font-weight:700;}
.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin: 20px;}
.footerleft p i { width:20px; color:#999;}
.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 } 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}

@media only screen and (max-width : 768px){
  .logofooter
  {
    font-size: 24px;
  }
  .footerleft p
  {
    font-size: 18px !important;
  }
  .footer-ul li
  {
    font-size: 24px;
  }
  .heading7
  {
    font-size: 24px;
  }
  .post p
  {
    font-size: 24px;
  }
  .bottom_ul li a
  {
    font-size: 24px;
  }

  .precio
  {
    margin-top: 20px;
    margin-bottom: 20px;
    font: 600 18px/1.8 "Lato", sans-serif;
    line-height: 30px;
  }

  p.producto
  {
    font-size: 18px;
  }

}